name: Build Docs

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - docs/**
      - schemas/*.json

env:
  URL_PREFIX: '/'
  PIPENV_VENV_IN_PROJECT: 1

permissions:
  contents: read
  pages: write
  id-token: write
  
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    name: Build Docs
    runs-on: ubuntu-20.04
    
    steps:
      - uses: actions/checkout@v6

      - name: Pyenv Build
        uses: gabrielfalcao/pyenv-action@v18
        with:
          default: 3.11
      
      - run: mkdir ./.venv
      
      - run: cp -r docs/** .
          
      - name: Cache Dependencies
        uses: actions/cache@v5
        id: cache-dependencies
        with:
          path: ./.venv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/Pipfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pipenv

      - name: Install dependecies
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: install --dev
          
      - name: Copy Schemas
        run: cp -rf schemas content/pages/
          
      - name: Build Site
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run menagerie generate
          
      - name: Upload Artifact
        if: success() && github.ref == 'refs/heads/master'
        uses: actions/upload-pages-artifact@v6
        with:
          path: out/
          
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    name: Deploy Docs
    needs: build
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
          
